services:
  # Database Service (shared between blue and green)
  db:
    image: postgres:15
    container_name: prime_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    environment:
      POSTGRES_DB: ${DATASOURCE_DB}
      POSTGRES_USER: ${DATASOURCE_USER}
      POSTGRES_PASSWORD: ${DATASOURCE_PASS}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATASOURCE_USER} -d ${DATASOURCE_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
  uploads_data:
