services:
  app_blue:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: prime_app_blue
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB:-prime_db}
      SERVER_PORT: 8080
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 60s

networks:
  app-network:
    external: true


